.activities h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 26px;
}

img {
  object-fit: cover;
}

.activities-list {
  position: relative;
  display: flex;

  gap: 40px;

  justify-content: flex-start;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.activity-card {
  display: flex;
  overflow: hidden;


  flex-direction: column;
  max-width: 300px;
  transition: 0.15s;

  text-decoration: none;
  color: #202020;
  cursor: pointer;

  border-radius: 15px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.activity-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.activity-card span {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 50px;
  padding-left: 15px;

  font-size: 16px;
  font-weight: 600;
  color: black;
}

.activity-card img {
  width: 300px;
  object-fit: cover;
}

.activity-card.lg {
  height: 440px;
}
.activity-card.lg img {
  height: 390px;
}

.activity-card.md {
  height: 230px;
}
.activity-card.md img {
  height: 180px;
}

.activity-card.sm {
  margin-top: 50px;
  height: 160px;
}
.activity-card.sm img {
  height: 110px;
}
.activity-card.sm-alt {
  margin-top: 0px;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .activities {
    padding: 0px 50px;
  }

  .activity-wrapper {
    width: 100%;
  }

  .activity-card {
    max-width: none;
    width: 100%;
  }

  .activity-card img {
    width: 100%;
  }

  .activity-card span {
    min-height: 60px;
  }

  .activity-card.lg, .activity-card.md, .activity-card.sm {
    height: 280px;
  }
  .activity-card.lg img, .activity-card.md img, .activity-card.sm img {
    height: 220px;
  }

  .activity-card.sm {
    margin-top: 40px;
  }
}