.top-nav {
  display: flex;
  justify-content: flex-end;
  height: 90px;

  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-self: flex-end;
}

.nav-items {
  display: flex;
  position: relative;
  
  width: 300px;
  height: calc(100% - 12px);
  padding-bottom: 12px;
}

.nav-items_link {
  display: flex;
  justify-content: center;
  border-top: 2px solid transparent;

  width: 50%;
  height: 100%;
  color: #0f100f;
}

.nav-items_link:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

.nav-items_link a {
  display: flex;

  align-self: flex-end;
  padding-bottom: 12px;

  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 992px) {
  .top-nav {
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
  }

  .brand {
    align-self: center;
  }

  .nav-items {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 0px;
  }

  .nav-items_link {
    border-bottom: 2px solid #f2f2f2;
  }

  .nav-items_link:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }
}